---
layout: page
title: Formulare
subtitle: Formulare

forms:
  - to: abteilung@pfadithierstein.ch
    subject: Badespass
    redirect: /
    form_engine: formspree
    placeholders: true
    fields:
      - name: Vorname
        required: true
        input_type: text
        placeholder: Vorname

      - name: Nachname
        required: true
        input_type: text
        placeholder: Nachname

      - name: Pfadiname
        required: false
        input_type: text
        placeholder: Pfadiname

      - name: E-Mail
        required: true
        input_type: email
        placeholder: E-Mail Adresse

      - name: Anmeldebestätigung
        required: true
        input_type: radio
        placeholder: Ich nehme am Anlass teil

      - name: Anmeldebestätigung
        required: true
        input_type: radio
        placeholder: Ich kann leider nicht teilnehmen

      - name: Weiteres
        required: false
        input_type: textarea
        required: false
        placeholder: Was ich noch mitteilen möchte

      - name: Absenden
        required: true
        input_type: submit
        placeholder: Absenden

---

<h1>{{ page.forms[0].subject }}</h1>
<h2>12.12.2025<h2>
<br>
{% if page.forms[0] %}{% include form.html form="1" %}{% endif %}
